body{
	background-color: #5294e2;
	font-family:  "Titillium Web", sans-serif;
	color: white;
}

h1 {
    float: left;
    padding: 50px 10px 0px 15px;
    font-weight: bold;
    font-size: 3em;
    border-bottom: 3px solid white;
}

h3 {
	border-bottom: 2px solid white;
	font-weight: bold;
	font-size: 2em;
}

h4 {
	font-style: italic;
}

.header-image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	float: left;
	border: 2px solid white;
	background-image: url("../imgs/me2.jpg");
	background-size: contain;
}

.header-container {
	text-align: center;
	padding-top: 15px;
}

.banner-container {
	height: 200px;
	display: inline-block;
}

.intro-section p {
	font-size: 1.75em;
	width: 50%;
}

.intro-section {
	border-left: 3px solid white;
	margin-left: 5%;
	margin-top: 15px;
	padding-left: 5px;
}

.projects-container {
	margin-left: 2%;
	background-color: #52dce2;
	padding: 0px 30px 10px 30px;
	margin-top: 20px;
	border-radius: 20px 20px 5px 5px;
}

.projects-container img {
	width: 100%;
}

.panel {
	background-color: #383c4a;
	border: 2px solid white;
	border-radius: 0;
	height: 275px;
	margin-bottom: 0;
}

.panel-heading {
	margin-top: 10px;
}

.panel-body {
	margin-bottom: 5px;
}

.experience-container {
    float: right;
    background-color: #e2a052;
    border-radius: 20px 0px 0px 5px;
    height: 166px;
}

.experience-container li {
	list-style-type: none;
	margin-bottom: 5px;
	font-size: 18px;
}

.certified img {
	width: 100%;
}

.well {
	border-radius: 0 20px 5px 0;
}

.experience-row {
	margin-top: 20px;
}

.clearfix {
  overflow: auto;
}

