body{
	background-color: #E6F1F5;
	font-family:  "Titillium Web", sans-serif;
}

h1 {
    float: left;
    padding: 50px 10px 0px 15px;
    font-weight: bold;
    font-size: 3em;
    border-bottom: 5px solid black;
}

h4 {
	font-style: italic;
}

[src="imgs/me.jpg"] {
	width: 200px;
	float: left;
	border: 5px solid black;
}

.header-container {
	text-align: center;
	padding-top: 15px;
}

.banner-container {
	height: 200px;
	display: inline-block;
}
